<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="logo.png" type="image/icon type">
        <title>Spelling and Grammar Checker</title>
        <link rel="stylesheet" href="interface.css">
    </head>
    <body>
        <br>
        <div id=mainPage>
            <h1>Grammar and Spelling Checker</h1>
            <div id="form">
               <form action="{{ url_for('predict')}}" method="POST">
                   <div id="features">
                       <div class="double">
                       <textarea id="news_text" placeholder="Paste or enter your text here to find spelling and grammar errors..." name="news_text" cols="132" rows="5" required></textarea>
                       </div>
                   </div>
                   <div id="button">
                       <input type="submit" value="Correct">
                   </div>
                   <div id="features">
                    <div class="double">
                    <textarea id="text" placeholder="the correct text" name="text" cols="132" rows="5" required></textarea>
                    </div>
                </div>
               </form>
            </div>
            <br>
            <style>
               p {
                   color: p_color
               }
           </style> 
           <a href="interface2.html">
            <button id="redirectionButton" class="styled-button">Words Spelling Checker</button>
           </a>          
        </div>
        <footer>&copy;&nbsp;2023 Checker. All rights reserved.</footer>
    </body>
</html>